<a href="https://colab.research.google.com/github/Omer-sync/InventDataAnalytics.Cowork/blob/main/InventData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Invent Analitics: Sales Data Analysis

## Importing Libraries

In [1]:
import numpy as np 
import pandas as pd

## Reading Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

df_train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dac22-invent-analytics-project/train.csv")
df_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dac22-invent-analytics-project/test.csv")
df_holiday = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dac22-invent-analytics-project/holidays.csv")
df_product = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dac22-invent-analytics-project/product.csv")

In [4]:
df_train_copy = df_train.copy()
df_test_copy = df_test.copy()
df_holiday_copy = df_holiday.copy()
df_product_copy = df_product.copy()

## Understanding and Cleaning Data

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405292 entries, 0 to 405291
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              405292 non-null  int64
 1   date            405292 non-null  object
 2   product_id      405292 non-null  int64
 3   price           404730 non-null  float64
 4   discount        405292 non-null  float64
 5   season_type     405292 non-null  object
 6   sales_amount    405292 non-null  float64
 7   on_promotion    405292 non-null  int64
 8   promotion_type  386922 non-null  object
 9   store_count     405292 non-null  int64
dtypes: float64(3), int64(4), object(3)
memory usage: 30.9+ MB

1. Change NaN in promotion_type to "noPromotion"

In [6]:
df_train_copy['promotion_type'] = df_train_copy['promotion_type'].fillna("noPromotion")

In [8]:
temp_df = df_train_copy[df_train_copy["price"].isnull()]

In [9]:
null_product_id_list = []
for i in temp_df["product_id"].unique():
  null_product_id_list.append(i)

In [ ]:
for product_id in null_product_id_list:
  temp_df = df_train_copy[df_train_copy["product_id"] == product_id]
  temp_price=temp_df[~(temp_df["price"].isnull())].iloc[0].price
  temp_discount =temp_df[~(temp_df["price"].isnull())].iloc[0].discount
  temp_original_price = temp_price / (1-temp_discount)

In [10]:
temp_df = df_train_copy[df_train_copy["product_id"] == 486]

In [24]:
temp_price=temp_df[~(temp_df["price"].isnull())].iloc[0].price
temp_discount =temp_df[~(temp_df["price"].isnull())].iloc[0].discount

In [35]:
df_train_copy

,id,date,product_id,price,discount,season_type,sales_amount,on_promotion,promotion_type,store_count
0,1,2018-08-06,21,221.47,0.0,Autumn-Winter,83.0,1,Main Promo 3,85
1,2,2018-08-13,21,221.47,0.0,Autumn-Winter,100.0,1,Main Promo 3,85
2,3,2018-08-20,21,221.47,0.0,Autumn-Winter,127.0,1,Main Promo 3,85
3,4,2018-08-27,21,221.47,0.0,Autumn-Winter,89.0,1,Main Promo 3,84
4,5,2018-09-03,21,221.47,0.0,Autumn-Winter,124.0,1,Main Promo 3,85
...,...,...,...,...,...,...,...,...,...,...
405287,405288,2020-10-26,7888,61.57,0.0,Summer-Spring,0.0,1,Season Middle Promo 1,17
405288,405289,2020-11-02,7888,61.57,0.0,Summer-Spring,0.0,1,Season Middle Promo 1,15
405289,405290,2020-11-09,7888,61.57,0.0,Summer-Spring,0.0,1,Season Middle Promo 1,13
405290,405291,2020-11-16,7888,61.57,0.0,Summer-Spring,0.0,1,Season Middle Promo 1,10
405291,405292,2020-11-23,7888,61.57,0.0,Summer-Spring,0.0,1,Season Middle Promo 1,9

Warning: total number of rows (405292) exceeds max_rows (20000). Limiting to first (20000) rows.